.container {
    margin-right: 60px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-top: 60px;
    position: relative;
}

.profile {
    border-radius: 50%;
    height: 50px;
    width: 45px;
    margin-left: 30px;
}

.navbar-item {
     margin-right: 45px;
 }

 hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

 .section-1 {
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
     margin-bottom: 15px;
 }

 .card {
     /* width: 400px;
     height: 270px; */
     background: linear-gradient(45deg, rgba(196,36,36,1) 0%, rgba(222,111,100,1) 25%, rgba(113,98,180,1) 100%);
     border-radius: 6px;
     padding-left: 40px;
     padding-top: 1px;
     width: 400px;
     padding-bottom: 1px;
     position: relative;
 }

 .card-number {
     letter-spacing: 3px;
     color: white;
     font-size: 12px;
     margin-top: 3px;
 }
 .card-number-title {
     color: white;
     font-size: 12px;
     font-weight: 300;
 }

 .chip {
     width: 30px;
 }
 .indicator {
     width: 30px;
     position: absolute;
     left: 2px;
 }

 .mastercard {
     width: 160px;
     position: absolute;
     bottom: 6px;
     right: 10px;
 }

 .gray-info {
     color: rgb(211,211,211);
 }

 .visacard {
     width: 30px;
 }

 .paypal {
     width: 30px;
     margin-left: 40px;
 }

 .card-details {
     margin-top: 10px;
 }

 .card-details1 {
     display: flex;
 }
 /* .card-details1-first {
     margin-left: 20px;
 } */

 .card-input {
     border: 1px solid rgb(192,192,192);
     width: 200px;
     padding: 10px;
     background-color: rgb(229,229,229);
     border-radius: 2px;
     margin-left: 30px;
 }

 .grid-container {
     display: grid;
     grid-template-columns: repeat(2, 250px);
     grid-row-gap: 30px;
     margin-top: 40px;
 }

 .label {
     font-size: 16px;
 }

 input[type=text] {
     padding: 17px 30px;
     margin: 15px 0px;
     box-sizing: border-box;
     /* border: 1px solid rgb(128,128,128); */
     border-radius: 2px;
     background-color: rgb(220,220,220);
     border: none;
 }


 .btn {
     width: 100%;
     background-color: rgb(0, 0, 255);
     border: none;
     color: white;
     border-radius: 3px;
     padding: 20px;
     font-size: 16px;
 }

 .section-2 {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .section-3 {
     display: flex;
     justify-content: space-between;
     margin-top: 40px;
     margin-bottom: 80px;
 }

 .btn2 {
     background-color: rgb(54, 54, 250);
     border: none;
     width: 25%;
     font-size: 20px;
     color: white;
     border-radius: 3px;
 }

 .total {
     font-weight: 800;
 }

 .images {
     display: flex;
     justify-content: flex-end;
 }
